@import './base.css';
@import './animations.css';


body {

  font-family: 'Open Sans', sans-serif;

  #app {

    margin: 0 auto;
    padding: 2rem;

    .card {

      background: var(--color-background-light);
      box-shadow: 0 0 3px var(--color-shadow);
      border-radius:2px;
      margin: 1.5rem 0;
      padding: 1.5rem 1rem;

      &-title {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom:1.5rem;
      }

    }
    
    .search {
      background-color: var(--color-background-soft);
      border-radius: 5px;

      &-field {
        align-items: center;
        display:flex;

        input[type="text"] {
          background-color: transparent;
          border:0;
          font-family: inherit;
          outline: none;
          padding:5px 10px;
        }

      }

      &-icon {
        cursor:pointer;
        padding:5px 10px 0 5px;
      }

    }

    .cta {

      background-color: var(--color-success);
      border-radius: 3rem;
      box-shadow: 0 2px 2px var(--color-success-shadow);
      color:var(--color-text-light);
      display:flex;
      font-size:.8rem;
      font-weight: bold;
      gap:.5rem;
      padding:.5rem 1.5rem;
      text-decoration: none;
      transform: scale(1);

      &:hover{
      	animation: pulse 2s infinite;
      }

    }

    .table {

      border-collapse: collapse;
      width:100%;
      border-top: 2px var(--color-background-soft) solid;

      thead th {
        font-weight: 900;
        padding:.5rem;
      }

      tbody {

        tr {
          .actions{
            a {
              cursor: pointer;
              color:var(--color-button);
              margin: 0 .25rem;
              text-decoration: none;
              transition: .5s;
              &:hover{
                color:var(--color-text);
              }
            }
          }
          td {
            padding:.5rem;
          }
          &:nth-child(odd){
            background-color:var(--color-background-mute);
          }
        }

      }

    }

  }

}



// @media (min-width: 1024px) {

//   body {
//     display: flex;
//     place-items: center;
//   }

// }
